{% extends "base.html" %}

{% block body %}
    <h4 style="margin-top: 100px; margin-left:100px;">Effettua l'accesso!!</h4>

    {% if form.errors %}
    <p style="margin-left: 100px; margin-top: 50px;">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" style="margin-left: 10%; margin-top: 5%; border: 1px solid black; padding: 20px; width: 300px;">
        {% csrf_token %}
        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
        </p>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% else %}
            <input type="hidden" name="next" value="/courseManager/" />
        {% endif %}
        <input type="submit" value="login" />
    </form>
{% endblock %}