{% extends "base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'courseManager/courseManagerStyle.css' %}" />
{% endblock %}
{% block body %}
<head>
    <h2 class="title">Corso di {{ nomeCorso }}</h2>

    <section>
        <p>Torna alla <a href="{% url 'main_page:welcome' %}">Home</a></p>
    </section>
</head>
{% for course in course_set %}
<div class="container-fluid cardCorso">
    <p>Corso: {{ course.nome }}</p>
    <p>Data: {{ course.data }}</p>
    <p>Durata: {{ course.durata }} ora </p>
    <p>Capienza: {{ course.cap }}</p>
    <a class="btn btn-primary" style="color:white;">Prenota</a>
</div>

{% endfor %}
{% endblock %}