{% extends "base.html" %}
{% block head %}
{% load staticfiles %}
{% load app_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'courseManager/courseManagerStyle.css' %}" />
{% endblock %}
{% block body %}
<head>
    <h2 class="title">Corso di {{ nomeCorso }}</h2>

    <section>
        <p>Torna alla <a href="{% url 'main_page:welcome' %}">Home</a></p>
    </section>
</head>

    {% for message in messages %}
    <p><h4 style="color:red;">{{ message }}</h4></p>
    {% endfor %}

{% for course in course_set %}
    {% if not course.cancellato %}
        <div class="container-fluid cardCorso">
            <p>Corso: {{ course.nome }}</p>
            <p>Data: {{ course.data }}</p>
            <p>Ora inizio: {{ course.ora_inizio }}</p>
            <p>Ora fine: {{ course.ora_fine }}</p>
            <p>Posti disponibili: {{ posti_disponibili|get_at_index:forloop.counter0 }} </p>
            <p>Sala: {{ course.sala.id }}</p>
            {% if posti_disponibili|get_at_index:forloop.counter0 > 0 and course.id not in prenotazioni  %}
                <a class="btn btn-primary" style="color:white; cursor: pointer;" href="{% url 'courseManager:prenotazione' course.id %}">Prenota</a>
            {% elif posti_disponibili|get_at_index:forloop.counter0 > 0 and course.id in prenotazioni and prenotazioniCancellate|get_cancellata:course.id %}
                <a class="btn btn-primary" style="color:white; cursor: pointer;" href="{% url 'courseManager:prenotazione' course.id %}">Prenota</a>
            {% elif posti_disponibili|get_at_index:forloop.counter0 > 0 %}
                 <a class="btn btn-primary" style="color:white; cursor: pointer;" href="{% url 'courseManager:cancellaPrenotazione' course.id %}">Cancella prenotazione</a>
            {% else %}
                <a class="btn btn-primary" style="color:white; cursor: pointer;" href="">Mettiti in lista di attesa</a>
            {% endif %}
            {% if user|has_group:'Operators' or user.username == 'admin' %}
                <a class="btn btn-danger" style="color:white; cursor: pointer;" href="{% url 'courseManager:cancella' course.id nomeCorso %}">Cancella</a>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
<br><br>
{% if user|has_group:'Operators' or user.username == 'admin' %}
    <a class="btn btn-primary" style="color:white; cursor: pointer;" href="{% url 'courseManager:insert' nomeCorso %}">Inserisci corso</a>
{% endif %}

{% endblock %}