{% extends "base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'courseManager/courseManagerStyle.css' %}" />
{% endblock %}

{% block body %}
    <head>
        <section>
            <p style="margin-left: 50px;">Torna alla <a href="{% url 'main_page:welcome' %}">Home</a></p>
        </section>
        <h2 style="margin-left: 45%;">Corso di {{ nomeCorso }}</h2>
    </head>
    {% for message in messages %}
    <p><h4 style="color:red;">{{ message }}</h4></p>
    {% endfor %}
    <form method="post" style="margin-left: 50px; margin-top: 5%; border: 1px solid black; padding: 20px; width: 800px;">
            {% csrf_token %}
            <p>Nome: </p><input type="text" name="nome" value="{{ nomeCorso }}" class="fixedFields">
            <br><br>
            {{ form.as_p }}
            <p>Operatore: </p> <input type="text" name="operatore" value="{{ user.username }}" class="fixedFields">

            <br><br>
            <input type="submit" value="submit">
    </form>
{% endblock %}