{% extends "base.html" %}
{% block head %}
{% load staticfiles %}
{% load app_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'main_page/style.css' %}" />
<script src="{% static 'main_page/jsMain.js' %}"></script>
{% endblock %}
{% block body %}
{% if user.is_authenticated %}
    {% if user|has_group:'Common' or user.username == 'admin' %}
        <div class="assistenza"><img style="width: 40px; height:40px; margin-right:10px; " src="{% static 'main_page/images/assistenza.png' %}">Chiedi <a href="{% url 'main_page:assistenza' %}" style="text-decoration: underline;">assistenza</a></div>
        <br><br>
    {% endif %}
    {% if new_messages %}
        <div style="width: 200px;float:left;"><img style="width: 40px; height:40px; margin-right:10px; " src="{% static 'main_page/images/messaggiNew.jpg' %}"><a href="{% url 'main_page:messaggi' %}" style="text-decoration: underline;">Centro Messaggi</a></div>
    {% else %}
        <div style="width: 200px;float:left;"><img style="width: 40px; height:40px; margin-right:10px; " src="{% static 'main_page/images/messaggi.jpg' %}"><a href="{% url 'main_page:messaggi' %}" style="text-decoration: underline;">Centro Messaggi</a></div>
    {% endif %}
    <div class="login"><p style="font-size: 11pt;">Benvenuto <b>{{ user.username }}</b>. Effettua il <a href="{% url 'main_page:logout_view' %}">logout</a></p></div>
{% else %}
<p class="login">Effettua il <a href="{% url 'main_page:login' %}">login</a></p>
{% endif %}
<h1 id="mainTitle">Fitness Village</h1>

{% for message in messages %}
    <p><h4 style="color:red;">{{ message }}</h4></p>
{% endfor %}

<h2>Prenota subito un corso!</h2>
<br>
<h3>Scegli il corso:</h3>
<div class="separator"></div>

<div class="container-fluid" style="height: 600px;">
        <div class="card cardSport" onclick="courseClick('yoga')">
            <img src="{% static 'main_page/images/yoga.jpg' %}" class="card-img" alt="yoga">
            <div class="card-img-overlay">
                <p class="card-text mainGrid">YOGA</p>
            </div>
        </div>
        <div class="card cardSport" onclick="courseClick('box')">
                <img src="{% static 'main_page/images/box.jpg' %}" class="card-img" alt="yoga">
                <div class="card-img-overlay">
                    <p class="card-text mainGrid">BOX</p>
                </div>
        </div>
        <div class="card cardSport" onclick="courseClick('mma')">
                <img src="{% static 'main_page/images/mma.png' %}" class="card-img" alt="yoga">
                <div class="card-img-overlay">
                    <p class="card-text mainGrid">MMA</p>
                </div>
        </div>
        <div class="card cardSport" onclick="courseClick('aerobica')">
                <img src="{% static 'main_page/images/aerobica.jpg' %}" class="card-img" alt="yoga">
                <div class="card-img-overlay">
                    <p class="card-text mainGrid">AEROBICA</p>
                </div>
        </div>
        <div class="card cardSport" onclick="courseClick('crossfit')">
                <img src="{% static 'main_page/images/crossfit.jpg' %}" class="card-img" alt="yoga">
                <div class="card-img-overlay">
                    <p class="card-text mainGrid">CROSSFIT</p>
                </div>
        </div>
        <div class="card cardSport" onclick="courseClick('pilates')">
                <img src="{% static 'main_page/images/pilates.png' %}" class="card-img" alt="yoga">
                <div class="card-img-overlay">
                    <p class="card-text mainGrid">PILATES</p>
                </div>
        </div>

</div>

{% endblock %}
