body {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

#mainTitle {
    text-align: center;
}

.separator {
    margin-left: 5px;
    width: 85%;
    border: 0.2px solid gray;
}

.login {
    text-align: end;
    font-size: 11pt;
}

.mainGrid {
    color: white;
    text-align: center;
    margin-top: 40%;
    font-weight: bold;
    font-size: 18pt;
}


.card {
    margin-top: 3%;
    float: left;
    margin-right: 2%;
    border: none;
    
}
.card img{
    width: 250px;
    height: 200px;
}
@media screen and (max-width: 540px ){
    
    
}

@media screen and (max-width: 720px ){
   
}
@media screen and (max-width: 960px ){
    
}
@media screen and (min-width: 960px ){
   
}
.cardSport:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: ease-in 0.13s;
}